/* .table_container {
  overflow: scroll;
} */

.cards_container {
  padding-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 35px;
  row-gap: 20px;
}
.card {
  width: 100%;
  white-space: wrap;
  height: 380px;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img_con {
  height: 50%;
  width: 100%;
}

.body_con {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: auto;
}
.body_con,
.btns_con {
  padding: 10px;
}
.body_con {
  height: 40%;
}

.btns_con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove_btn {
  background-color: #ff6c6c;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .cards_container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .cards_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .cards_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
